donotupload.txt
db_config.py
8.2 ~ 8.14\DB_test\django_test\locallibrary\locallibrary\settings.py
만료및탈퇴회원.csv
activity_sample.xlsx
text_biz_dw_테이블정의서_20220831_v1.0.xlsx
data
VGG
model
.conda
.venv
checkpoint-130
checkpoint-100
checkpoint-300
runs
2.jpg
model.safetensors
preprocessor_config.json
train_results.json
trainer_state.json
training_args.bin
eval_results.json
config.json
all_results.json
model.keras
trainer 
ebs_audio
ebs
khan
ebs_script
script_ebs
results
새 폴더
best_model1.keras
*.zip
logs
Noto_Sans_KR
.env