{% extends "layout.html" %}
{% block body %}
  <div>
    <div>
      <h1>{{board.title}}</h1>
      <p>생성일 :
        {{board.create_date}}
      </p>
      <p>수정일 :
        {{board.update_date}}
      </p>
      <p>작성자 :
        {{board.name}}
      </p>
    </div>
    {% if session.user and session.user.id == board.user_id %}
      <a href="{{url_for('view_update_board', board_id = board.id)}}">수정</a>
    {% endif %}
    <div>
      <p>{{board.content}}</p>
      <p>{{board.user_id}}</p>
    </div>

    <div id="comments"></div>
    {% if session.user %}
      <form action="" method='POST'>
        <input type="hidden" name="board_id" value="{{board.id}}">
        <textarea name="comment"></textarea>
        <button id="insert">댓글 작성</button>
      {% endif %}

    </form>

  </div>
  <script>
    async function getComments() {
      const response = await fetch("{{url_for('get_board_comments', board_id=board.id)}}");
      const comments = await response.json();
      const commentsElement = document.querySelector("#comments");
      comments.forEach(comment => {
        const div = document.createElement("div");
        div.innerHTML = `
              <div>
                <p>${comment.name}: ${comment.comment} (${comment.update_date})</p>
              </div>
            `;
        commentsElement.appendChild(div);
      });
    }

    getComments();

    const button = document.querySelector('#insert');
    if (button) {
      button.addEventListener('click', () => {
        location.href = "{{url_for('insert_comment', board_id=board.id)}}"
      })

    }
  </script>
{% endblock body %}
